<p id="notice"><%= notice %></p>

<h1>Zombies paradise</h1>

<br>

<%= link_to 'New Zombie', new_zombie_path %>

<% @zombies.each_slice(3) do |zombies| %>

<div class="card-deck">

<% zombies.each  do |zombie| %>



  <div class="card">
   <%= image_tag zombie.picture, class:'card-img-top' %>
    
    <div class="card-body">
      <h5 class="card-title">Peso: <%= zombie.weight %></h5>
      <h5 class="card-title">Arma: <%= zombie.weapon %></h5>
      <h5 class="card-title">Muertes: <%= zombie.kills %></h5>
      <%= link_to 'Edit zombie', edit_zombie_path(zombie) %>
      <%= link_to 'Edit zombie', edit_zombie_path(zombie) %>  
    </div>
  
  </div>
  
  <% end %>

</div>

<% end %>
