<p id="notice"><%= notice %></p>

<h1 class= 'text-center'>Zombies Collection</h1>

<br>


<% @zombies.each_slice(3) do |zombies| %>

<div class="card-deck">

<% zombies.each  do |zombie| %>



  <div class="card p-4">
   <%= image_tag zombie.picture, class:'card-img-top'%>
    
    <div class="card-body">
      <h5 class="card-title">Weight: <%= zombie.weight %></h5>
      <h5 class="card-title">Weapon: <%= zombie.weapon %></h5>
      <h5 class="card-title">Kills: <%= zombie.kills %></h5>
      <button type="button" class="btn btn-primary"><%= link_to 'Edit', edit_zombie_path(zombie) %></button>
      <button type="button" class="btn btn-secondary"><%= link_to 'Show', zombie %></button>
      <button type="button" class="btn btn-danger"><%= link_to 'Delete', zombie, method: :delete, data: { confirm: 'Are you sure?' } %></button>
      
    </div>
  
  </div>
  
  <% end %>

</div>

<% end %>
