<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @zombie.weight %>
</p>

<p>
  <strong>Kills:</strong>
  <%= @zombie.kills %>
</p>

<p>
  <strong>Weapon:</strong>
  <%= @zombie.weapon %>
</p>

<p>
  <strong>Picture</strong>
  <%= image_tag @zombie.picture %>
</p>

<%= link_to 'Edit', edit_zombie_path(@zombie) %> |
<%= link_to 'Back', zombies_path %>
